@(message: String)

@main("Talks | Welcome") {
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk from xyz</h3>
            <p>This a talk about:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Video</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Slides</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk from xyz</h3>
            <p>This a talk about:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Video</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Slides</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk from xyz</h3>
            <p>This a talk about:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Video</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Slides</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk from xyz</h3>
            <p>This a talk about:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Video</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Slides</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk from xyz</h3>
            <p>This a talk about:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Video</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Slides</a></p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

}
