@(message: String, categories: Seq[String], talks: Seq[models.Talk])

@main("Talks | Welcome", categories) {

@for(talk <- talks){
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Talk @talk.title</h3>
            @talk.author.name.map { n =>
                @talk.author.twitter.map { t =>
                    <p>From <a href="https://twitter.com/@t">@n</a></p>
                }.getOrElse {
                    <p>From @n</p>
                }
            }
            <div class="row">
                @for(url <- talk.videoUrls) {
                    <div class="large-4 medium-4 columns">
                        <p><a href="@url">Video</a></p>
                    </div>
                }
                @for(url <- talk.slidesUrls) {
                    <div class="large-4 medium-4 columns">
                        <p><a href="@url">Slides</a></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}

}
